.container {
  min-height: 100vh;
  width: 400px;
  margin: 0 auto;
  border: 5px solid var(--default-color);
  border-radius: 5px;
  color: ivory;
  background-color: rgb(30,30,30);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container.underweight {
  border: 5px solid var(--underweight-color);
}
.container.normal {
  border: 5px solid var(--normal-color);
}
.container.overweight {
  border: 5px solid var(--overweight-color);
}
.container.obese {
  border: 5px solid var(--obese-color);
}

.title {
  background-color: var(--default-color);
  text-align: center;
  font-size: 1.5em;
  margin: 0;
  padding: 5px;
  width: 100%;
}
.underweight .title{
  background-color: var(--underweight-color);
}
.normal .title{
  background-color: var(--normal-color);
}
.overweight .title{
  background-color: var(--overweight-color);
}
.obese .title{
  background-color: var(--obese-color);
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 10px;
}

.bmiValue {
  font-size: 1.3em;
  font-weight: bold;
}

.bmiCategory {
  margin-top: 20px;
  font-size: 1.5em;
}
.underweight .bmiCategory {
  color: var(--underweight-color);
}
.normal .bmiCategory {
  color: var(--normal-color);
}
.overweight .bmiCategory {
  color: var(--overweight-color);
}
.obese .bmiCategory {
  color:var(--obese-color);
}
